{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}
<div class="heading"><h1>Home</h1></div>
<div class="landing">
    <img class="landinggif" src="https://media3.giphy.com/media/TXa0vDyWB82d2/giphy.gif?cid=6c09b952r9i7s4elh72583l5vdzomy5j86jv5b79yhwgv6wt&ep=v1_gifs_search&rid=giphy.gif&ct=g" width="30%" height="30%"></div>
    <!--<img src="https://i.pinimg.com/originals/0c/3b/fe/0c3bfed41251c7fb356dfb99b7016163.gif">-->
    <br>
    <p>Welcome! This is a simple, web-based to-do list application to enable you to keep track of your tasks without excess frills or hassle.</p>
    <p><i>Coded by <a href="{{ url_for('static', filename='CV.pdf') }}" target="_blank">Tanmay Deshpande</a></i></p>
{% endblock %}
