{% extends "base.html" %}
{% block title %}Register{% endblock %}
{% block content %}
<div class="heading"><h1>Register</h1></div>
<div class="main">
<form method="POST", action="">
    <label for="usr">Username</label>
<input type="text" id="usr" placeholder="Username" name="usr">
<label for="em">Email</label>
<input type="email" id="em" placeholder="Email Address" name="em">
<label for="pwd">Password</label>
<input type="password" id="pwd" placeholder="Password" name="pwd">
<label for="pwd2">Repeat Password</label>
<input type="password" id="pwd2" placeholder="Repeat Password" name="pwd2">    
<button name="submit" id="submit" type="submit">Submit</button>
</form>
</div>
{% endblock %}

