{% extends "base.html" %}
{% block title %}Your Tasks{% endblock %}
{% block content %}
<div class="heading"><h1>Tasks</h1></div>
<br>
<div class="main">
<br>
<ul class="to-do-list">
    {% if user.tasks %}
{% for items in user.tasks %}
{% if items %}
<div class="taskdiv">
<li class="task">
{{ items.text }} <button type="button" class="btn-close" name="delete" onclick="delete_task({{ items.id }})">
</button>
</li>
</div>
{% endif %}    
{% endfor %}
{% endif %}
</ul>
<form action="" method="POST">
<div align="center">
<textarea placeholder="Enter task" name="tasktxt" id="tasktxt"></textarea>
<br>
<button type="submit" name="addtask" id="addtask">Add Task</button>
</div> 
</form>
</div>
{% endblock %}
